/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.padding-lr-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.input-title {
  display: block;
}

.row {
  margin-left: 0;
}

.full-width {
  width: 100%;
}